body{
	font-family: "Comic Sans MS";
	color: blue;
}
h1, h2, h3, h4{
	font-family: "Papyrus";
	color: red;
}
img{
	max-width:400px;
	max-width:400px;
	max-height:400px;
	width: auto;
	height: auto;
}

.hide{
	display:none;
}